.appbar-left
{
    padding-left: 2em;
}

.appbar-right
{
    padding-right: 2em;
}

.mui-container
{
    padding-top: 1em;
    padding-bottom: 1em;
}

.starting_date
{
    color: #666;
    font-size: small;
}

h3 
{
    color: #666;
}

ul
{
    list-style: none;
    padding-left: 0px;
}

.mui-appbar a
{
    color: white;
}

.mui-appbar h1 a
{
    text-decoration:none;
    color: white;
}

.eventit-innermodal
{
    background-color: white;
}