{% extends "base.html" %}

{% block content %}

<p>
    So you forgot your password. You just need to enter your registered username or mail and we will send you a mail with the instructions to restore it.
</p>

<form action="" method="POST">
    {{ form.hidden_tag() }}

    {% for field in form %}
    <div class="mui-textfield">
        {{ field(placeholder=field.label.text) }}
    </div>
    {% endfor %}

    <button type="submit" class="mui-btn mui-btn--raised">Submit</button>
</form>


{% endblock %}