{% extends "base.html" %}

{% block content %}
<h2>These are the upcoming events:</h2>
    <ul>
    {% for event in events.get_upcoming() %}
    <li>
        <div class="mui-panel">
            <h3>{{ event.name }}</h3>
            <span class="starting_date">
                Starting {{ event.starting_at_hum }}, created by {{ event.owner.username }}
            </span>
        </div>
    </li>
    {% endfor %}
    </ul>

    <h2>These are the passed events:</h2>
    <ul>
    {% for event in events.get_passed() %}
    <li>
        <div class="mui-panel">
            <h3>{{ event.name }}</h3>
            <span class="starting_date">Started {{ event.starting_at_hum }}</span>
        </div>
    </li>
    {% endfor %}
    </ul>
    <hr />
{% endblock %}