<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//cdn.muicss.com/mui-0.6.8/css/mui.min.css" rel="stylesheet" type="text/css" />
        <link href="static/styles.css" rel="stylesheet" type="text/css" />
        <script src="//cdn.muicss.com/mui-0.6.8/js/mui.min.js"></script>
        <script src="static/eventit.js"></script>
    </head>
<body>

<div class="mui-appbar">
  <table width="100%">
    <tr style="vertical-align:middle;">
      <td class="mui--appbar-height appbar-left">
          <h1>EventIt</h1>
      </td>
      <td class="mui--appbar-height appbar-right" align="right">Sign Up / Sign In</td>
    </tr>
  </table>
</div>

<div class="mui-container">
        <!-- content -->

    <h2>These are the upcoming events:</h2>
    <ul>
    {% for event in events.get_upcoming() %}
    <li>
        <div class="mui-panel">
            <h3>{{ event.name }}</h3>
            <span class="starting_date">{{ event.starting_at_hum }}</span>
        </div>
    </li>
    {% endfor %}
    </ul>

    <h2>These are the passed events:</h2>
    <ul>
    {% for event in events.get_passed() %}
    <li>
        <div class="mui-panel">
            <h3>{{ event.name }}</h3>
            <span class="starting_date">{{ event.starting_at_hum }}</span>
        </div>
    </li>
    {% endfor %}
    </ul>
    <hr />
</div>

</body>
</html>