{% extends "base.html" %}

{% block head %}
<script>

</script>
{% endblock %}


{% block content %}

<h2>My events</h2>
<div align="right">
    <button class="mui-btn mui-btn--fab mui-btn--primary" onclick="activateModal('create_event');">+</button>
</div>
<ul>
{% for event in events.user_events(current_user) %}
<li>
    <div class="mui-panel">
        <h3><a href="{{ url_for('event', event_uid=event.slug) }}">{{ event.name }}</a></h3>
        <span class="starting_date">
            {% if event.starting_at < now() %}
                Started
            {% else %}
                Starting
            {% endif %}
            {{ event.starting_at_hum() }}, created by {{ event.owner.username }}</span>
    </div>
</li>
{% endfor %}
</ul>

<div style="visibility: hidden" id="create_event" class="eventit-innermodal">
    <form action="event" method="POST">
    {{ form.hidden_tag() }}
    <legend>Create Event</legend>

    {% for field in form %}
    <div class="mui-textfield">
        {{ field(placeholder=field.label.text) }}
    </div>
    {% endfor %}

    <button type="submit" class="mui-btn mui-btn--raised">Create event</button>
</form>

</div>

{% endblock %}